################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DFE.SIP.API.SharePointOnline/bin
/DFE.SIP.API.SharePointOnline/obj
/DFE.SIP.API.SharePointOnline/package.zip
/DFE.SIP.API.SharePointOnline/webapisharepoint6.SourceManifest.xml
/DFE.SIP.API.SharePointOnline/webapisharepoint6.SetParameters.xml
/DFE.SIP.API.SharePointOnline/webapisharepoint6.deploy.cmd
/DFE.SIP.API.SharePointOnline/webapisharepoint6.deploy-readme.txt
/DFE.SIP.API.SharePointOnline/webapisharepoint5.SourceManifest.xml
/DFE.SIP.API.SharePointOnline/webapisharepoint5.SetParameters.xml
/DFE.SIP.API.SharePointOnline/webapisharepoint5.deploy.cmd
/DFE.SIP.API.SharePointOnline/webapisharepoint5.deploy-readme.txt
/DFE.SIP.API.SharePointOnline/webapisharepoint4.SourceManifest.xml
/DFE.SIP.API.SharePointOnline/webapisharepoint4.SetParameters.xml
/DFE.SIP.API.SharePointOnline/webapisharepoint4.deploy.cmd
/DFE.SIP.API.SharePointOnline/webapisharepoint4.deploy-readme.txt
/DFE.SIP.API.SharePointOnline/webapisharepoint3.SourceManifest.xml
/DFE.SIP.API.SharePointOnline/webapisharepoint3.SetParameters.xml
/DFE.SIP.API.SharePointOnline/webapisharepoint3.deploy.cmd
/DFE.SIP.API.SharePointOnline/webapisharepoint3.deploy-readme.txt
/DFE.SIP.API.SharePointOnline/webapisharepoint2.SourceManifest.xml
/DFE.SIP.API.SharePointOnline/webapisharepoint2.SetParameters.xml
/DFE.SIP.API.SharePointOnline/webapisharepoint2.deploy.cmd
/DFE.SIP.API.SharePointOnline/webapisharepoint2.deploy-readme.txt
/DFE.SIP.API.SharePointOnline/webapisharepoint1.SourceManifest.xml
/DFE.SIP.API.SharePointOnline/webapisharepoint1.SetParameters.xml
/DFE.SIP.API.SharePointOnline/webapisharepoint1.deploy.cmd
/DFE.SIP.API.SharePointOnline/webapisharepoint1.deploy-readme.txt
/DFE.SIP.API.SharePointOnline.Tests/obj
/packages
